

<div class="row" id="margin-top">
		<% @events.each do |event|%>
		<div class="col-md-5 col-md-offset-1">
			<ul class="list-group">
  			<li class="list-group-item">EVENT NAME: <%=event.name %></li>
  			<li class="list-group-item">DESCIPTION: <%= event.description %></li>
  			<li class="list-group-item">ABOUT <%=@user.name %>: <%=@user.bio%></li>
			<%= image_tag event.avatar.url %>
 			  
			</ul>
			<%= link_to "EDIT", edit_user_event_path(@user,event),class: "btn btn-primary" %>
			<%= link_to "VIEW", user_event_path(@user,event),class: "btn btn-primary" %>
		</div>
		
	<% end %>
	</div>



