
<div class="page-header " id="margin-top">
  
  <h1>APPROACHING EVENTS </h1><p class="text-info" style="font-size:40px"><strong><%=@event.name %></strong></p>
</div>
<div class="row">

		<% @user=User.find(@event.user_id) %>

		<div class="col-md-6 left-event">
			<ul class="list-group">
  			<li class="list-group-item">EVENT NAME: <strong><%=@event.name %></strong></li>
			<li class="list-group-item">DESCIPTION: <strong><%= @event.description %></strong></li>
  			<li class="list-group-item">EVENT OWNER: <strong><%=@user.name %></strong></li>
  			<li class="list-group-item">LOCATION:<strong> <%= @event.loc %></strong></li>
  			
  			<li class="list-group-item image-thumbnail"><%=image_tag @event.avatar.thumb.url, size: "600x400"  %></li>
  			  
 			  
			</ul>
			<input type="hidden" value="<%= @event.loc%>" id="address" >
			<%= link_to "Delete This Event",event_path(@event), method: :delete, class: "btn btn-danger" %>

			
			
			<br>
			<br>
			<%= render 'layouts/new_comment' %>
			<%= render 'layouts/show_comments' %>
			<br>
			<br>		
			<ul class="list-group">
  			<li class="list-group-item"><h3>Participants</h3></li>
			<% @participants.each do |participant| %>
				
				<li class="list-group-item"><%=participant.user.name %>
				<br>Status:
				<span style="color:green"><%=participant.status %>
				</span>

				<% if current_user.id == @participants.first.user.id && current_user.id != participant.user.id && participant.status != "Confirmed" %>
				<%= link_to "Confirm" ,events_confirm_path(@event,participant),class: "btn btn-success" %>
				
				<%= link_to "Cancel" ,events_cancel_path(@event,participant),method: :delete,class: "btn btn-success" %>
				<% end %>
				</li>
				
				<li class="list-group-item">
				
				<% if current_user.id != @participants.first.user.id && @participants.count < 5  %>
				<% if participant.user_id != current_user.id %> 
				<%= link_to "I want to participate" ,events_participate_path(@event),class: "btn btn-success" %></li>
				<% end %>
				<% end %>
				<% end %>
				</ul>
		</div>
		
	
	

	<div class="col-md-5 ">
		<p class="text-success" style="font-size:40px"><strong> SEE THE MAP </strong>
		</p>
		<p class="text-primary" style="font-size:20px"><strong> 
 		<%=@event.loc %></strong> </p>
 		<ul class="list-group">
  			<li class="list-group-item">
				<div id='map-canvas' style="width:483px;height:410px">
				</div>
			</li>
		</ul>
	</div>
